<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="laptop" class="ValueasProperty.Laptop">
		<constructor-arg name="company">
			<value>hp</value>
		</constructor-arg>
		<constructor-arg name="model">
			<value>pavilion</value>
		</constructor-arg>
		<constructor-arg name="storage">
			<value>1024</value>
		</constructor-arg>
	</bean>


</beans>